.upgrade__form-header {
  position: relative;
  text-align: center;
  margin-bottom: 2em;
}

.upgrade__form-header i {
  position: absolute;
  top: 50%;
  left: 0.5em;
  transform: translateY(-50%);
  font-size: $fs-36;
}

.upgrade__form-title {
  font-size: $fs-32;
}

.upgrade__form {
  display: flex;
  flex-direction: column;
  padding: 0 1em;
}
