.filtered__list {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 1em;
  overflow: scroll;
}

.filtered__list::-webkit-scrollbar {
  display: none;
}

.filtered__count-items {
  color: $clr-primary;
}
