.signup__container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.signup__form {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.signup__form-header {
  margin-bottom: 1em;
  position: relative;
}

.signup__form-header i {
  font-size: $fs-32;
  position: absolute;
  top: 50%;
  left: -0.75em;
  transform: translateY(-50%);
}

.signup__form-title {
  font-size: $fs-36;
  font-weight: 300;
  text-align: center;
}

.signup__btn-register {
  margin: 0.75em 0 1.25em;
  border-radius: 50px;
  align-self: center;
}

.signup__captcha {
  display: flex;
  justify-content: center;
}

.signup__link {
  font-size: $fs-14;
}

.signup__footer {
  font-size: $fs-14;
  text-align: center;
  margin-bottom: 1em;
}
