.chat-by-you {
  width: max-content;
  text-align: right;
  margin: 10px 0;
  background-color: #212121;
  color: #fff;
  padding: 0.5em 1em;
  border-radius: 20px;
  margin-left: auto;
}

.chat_by_other_user {
  width: max-content;
  text-align: left;
  margin: 10px 0;
  background-color: #212121;
  color: #fff;
  padding: 0.5em 1em;
  border-radius: 20px;
}

.shopping__user-avatar-right {
  margin-right: 20px;
}

/* .chat__form_container {
  position: fixed;
  bottom: 400px;
} */

.my-chats_chat-list {
  height: 630px;
  overflow: auto;
}

.chat-list-card__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  margin-bottom: 5px;
}

.message {
  width: 100%;
  margin-left: 10px;
}

#send {
  float: right;
}

.chat__user-avatar-right {
  box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.5);
  margin-left: 5px;
}

.chat__user-avatar-left {
  box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.5);
  margin-right: 8px;
}

.loader {
  position: absolute;
  top: 45%;
  left: 45%;
}

#send {
  text-align: right;
  position: absolute;
  right: 0;
  font-size: 26px;
  top: inherit;
  margin-left: 86%;
}

.noChat {
  position: absolute;
  top: 45%;
  left: 37%;
  text-align: center;
}

#block {
  position: absolute;
  margin-left: 85%;
}

.rateUser {
  text-align: center;
  font-size: 26px;
  margin-bottom: 10px;
  background-color: #212121;
  color: #fff;
  padding: 0.5em 1em;
  border-radius: 20px;
}

#userRating {
  margin-left: 73%;
}

.blockedMsg {
  text-align: center;
}

.chat-bottom {
  display: flex;
  flex-direction: column;
}

.my-chat-list {
  height: 450px;
  margin-bottom: 20px;
  overflow: scroll;
  scroll-behavior: smooth;
}

.my-chat-title {
  font-size: $fs-18;
  width: 220px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}



.chat__cart__item {
  position: relative;
  display: flex;
  padding: 1em;
  background-color: #212121;
}

.chat__item__img {
  width: 5em;
  height: 5em;
  margin-right: 1em;
  border-radius: 10px;
}

.chat__item__info {
  display: flex;
  flex-direction: column;
}

.chat__item__header {
  display: flex;
}

.chat__item__title {
  font-size: $fs-18;
  width: 220px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.chat__item__price {
  font-size: $fs-20;
  color: $clr-primary;
}

.chat__item__btn {
  background-color: transparent;
  border:none;
  color: $clr-primary;
  text-align: left;
}

.chat__item__description {
  font-size: $fs-14;
}

.chat__item__remove-btn {
  position: absolute;
  top: 0.2em;
  right: 0.5em;
  font-size: $fs-30;
  color: $clr-primary;
  cursor: pointer;
  background-color: transparent;
  border: none;
}