// body {
//   overflow: hidden;
// }
.container {
  height: 100vh;
  padding-bottom: 80px;
}

.btn {
  font-family: $ff-primary;
  font-size: $fs-24;
  font-weight: 700;

  cursor: pointer;
  border: none;
}

.btn-primary {
  background-color: $clr-primary;
  color: $clr-txt-secondary;
  padding: 0.5em 2.5em;
  border-radius: 20px;
  text-align: center;
}

.btn-secondary {
  background-color: $clr-secondary;
  color: $clr-txt-primary;
  padding: 0.5em 1em;
  border-radius: 20px;
}

.btn-danger {
  background-color: $clr-danger;
  color: white;
  padding: 0.5em 1em;
  border-radius: 20px;
}
